<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <remove name="LocalMySqlServer" />
        <add name="ApplicationServices" connectionString="Data Source=tcp:s05.winhost.com;Initial Catalog=DB_60626_pawhubbd;User ID=DB_60626_pawhubbd_user;Password=evoluciona5500;Integrated Security=False;MultipleActiveResultSets=False"
             providerName="System.Data.SqlClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="PawhubBDEntities"
          connectionString="metadata=res://*/Models.PawhubBD.csdl|res://*/Models.PawhubBD.ssdl|res://*/Models.PawhubBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s05.winhost.com;Initial Catalog=DB_60626_pawhubbd;User ID=DB_60626_pawhubbd_user;Password=evoluciona5500;Integrated Security=False;MultipleActiveResultSets=False&quot;"
          providerName="System.Data.EntityClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>